.slide-container{
    max-width: 800px;
    width: 100%;
    background-color: aqua;
}
.slide-content{
    margin: 0 40px;
    background-color: blue;
}
.container{
    max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
}